@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen text-white;
    background-color: black !important;
    height: 100%;
    /* background: radial-gradient(circle farthest-side, rgba(113, 24, 218, 0.15), rgba(255, 255, 255, 0)); */
  }

  h1, h2, p, li {
    @apply text-white;
  }

  html {
    height: 100%;
  }

  pre {
    @apply text-white p-4 rounded-md overflow-auto font-mono text-sm;
  }
  
  code {
    @apply bg-white/10 text-white/75 p-1 rounded font-mono text-sm;
  }
}

@layer components {
  .code-question-page h2 {
    @apply text-4xl font-bold mb-5;
  }

  .code-question-page p {
    @apply text-lg mb-3;
  }

  .code-question-page .bg-gray-900 {
    @apply text-white p-6 rounded shadow mb-5;
  }

  .code-question-page .bg-gray-700 {
    @apply p-4 rounded mb-5;
  }
}

